.fontawsome {
    font-family: 'Spicy Rice', cursive;
  }
  

.login {
    width: 500px;
    margin: 0 auto;
}
.logoImg{
    margin: 0 auto;
    width: 60%;
}
.property > img {
    object-fit: cover;
    height: 300px;
}

body{
  /* background-color: teal; */

    /* background-color: #F2F2F2;  */
    background-color: rgb(168, 226, 113) ;
}

.jumbotron {
  background-image: url("./pics/city-lake-hand-watch.jpg");
  
  /* background-image: url("./pics/view-of-houses-on-the-street-angra-panoramic-images.jpg"); */
  /* background-image: url("./pics/Dan Panorama exterior picture.jpg"); */
  /* background-image: url("./pics/panoramic-view-haifa-israel-city-260nw-518141593.jpg"); */
  /* background-image: url("./pics/houses on street.jpg"); */

  /* background-image: url(".pics/2017-04-12-14-39-05-725x334.jpg"); */
  color:white;
  /* background-size: cover; */
  background-position: center;
}

#find{
  color: purple;
}
/*search Tab CSS: */
  
/*** PANEL  ***/

#search-tabs {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    /* border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px; */

  }

.tabs {
    /* max-width: 640px; */
    margin: 0 auto;
    padding: 0 20px;
    border-bottom-right-radius: 300px;
    border-bottom-left-radius: 300px;
    border-top-right-radius: 300px;
    border-top-left-radius: 300px
  }

#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
#tab-button li {
    display: table-cell;
    width: 20%;
  }
#tab-button li a {
    display: block;
    padding: .5em;
    /* background: #428bca; */
    /* background: #1347f3; */
    background: purple; 
    border: 1px solid #ddd;
    text-align: center;
    color: white;
    text-decoration: none;
  }
#tab-button li:not(:first-child) a {
    border-left: none;
  }
#tab-button li a:hover,
#tab-button .is-active a {
    border-bottom-color: transparent;
    background: #eee;
    color: #1347f3;

  }
.tab-contents {
    padding: .5em 2em 1em;
    border: 1px solid #ddd;
    background: #eee;
    min-height: 200px;

  }
  
  
  
.tab-button-outer {
    display: none;
  }
.tab-contents {
    margin-top: 20px;
  }
  @media screen and (max-width: 768px) {
    .card {
      max-width: 100%!important;
    }
  }
  @media screen and (min-width: 768px) {
    .tab-button-outer {
      position: relative;
      z-index: 2;
      display: block;
    }
    .tab-select-outer {
      display: none;
    }
    .tab-contents {
      position: relative;
      top: -1px;
      margin-top: 0;
    }
    .jumbotron {
      /* background-image: url("./pics/city-lake-hand-watch.jpg"); */
      background-image: url("./pics/view-of-houses-on-the-street-angra-panoramic-images.jpg");
      color:white;
      background-position: left;

    }
    .jumbotron>.container>.row>div>h6 {
      color:blue;
      background-color: white;
    }
  }

  #search-btn {
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;

    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;

    border-right-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;

    /* border-image-outset: 0;
    border-image-width: 1;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-repeat: stretch stretch;
    border-image-outset: 0; */

    background: purple; 
    border-color: purple;

  }

/* ****************************** **************/

/* .panel {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
  } */

  .card-img-top {
    max-width: 100%;
    height: 14vw;
    object-fit: cover;
}

.card {
  max-width: 24.299%;
}

footer {
  background-color: lightgray;
}

#left>ul>li, #right>ul>li, #middle>ul>li  {
  list-style: none;
}

#fb-left>ul>li, #fb-right>ul>li, #fb-left>ul> h6  {
  list-style: none;
  display: inline-block;

}
 